<% include ./partials/header %>

<div class="d-flex justify-content-center py-6">
    <h1>Welcome to the Database Inventory</h1>
</div>

<div class="d-flex justify-content-center">
    <a href="/inventory" type="button" class="btn btn-info">Checkout the warehouse</a>
</div>

<% include ./partials/footer %>
